# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# CSS
.sass-cache

# Django stuff:
media/
static_root/
migrations/
local_settings.py

# Environments
env/
venv/

# IDE files
.idea

# Images
*.ico
*.gif
*.jpg
*.png


# Vim
*.swo
*.swp
*~

# Environments
env/
venv/
